*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.panel{

}

.title{
    display: flex;
    align-items: end;
}